.admin-page{
padding:20px;
color:#eee;
}

.table-box{
background:#111;
border-radius:10px;
border:1px solid #222;
overflow:auto;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:10px;
border-bottom:1px solid #222;
}

/*th{
background:#1a1a1a;
}*/

/*tr:hover{
/*background:#181818;
}*/

/*input,select{
background:#111;
border:1px solid #333;
color:#fff;
padding:5px;
border-radius:4px;
}*/

button{
background:#222;
border:1px solid #444;
color:#fff;
padding:6px 10px;
cursor:pointer;
}

/*button:hover{
background:#333;
}*/
